<ion-view >

	<ion-nav-buttons></ion-nav-buttons>

	<ion-content id="home" class="has-header">

		<div class="home-menu">
		    <div class="home-menu-button col" ui-sref="game-easy">
		    	<div class="home-menu-tiles col button" ng-class="'button-'+settings.theme">
			    	<h3>Delatores</h3>
		    	</div>
		    </div>

		    <div class="home-menu-button col" ui-sref="game-difficult">
		    	<div class="home-menu-tiles col button" ng-class="'button-'+settings.theme">
		    		<h3>Presos</h3>
		    	</div>
		    </div>

		    <div class="home-menu-button col" ui-sref="game-hard">
		    	<div class="home-menu-tiles col button" ng-class="'button-'+settings.theme">
			    	<h3>Hard</h3>
		    	</div>
		    </div>
		</div>

	</ion-content>

</ion-view>
